body{
	padding-top: 20px;
	font-size: 16px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
.row h1{
	letter-spacing: 2px;
}
#version{
	margin: 15px 0;
}
#btngroup{
	float:right;
	margin-top:10px;
}
#btngroup button{
	margin-right:10px;
}